h1 
{
    font-size:52px;
}

h2
{
    font-size:36px;
}

h3
{
    font-size:24px;
}

h4
{
    font-size:20px;
}

h5
{
    font-size:18px;
}

h6
{
    font-size:16px;
}

h1, h2, h3, h4, h5
{
    font-family: 'roboto';
    color:slategrey;
    margin: 0px;
    text-align: center;
}

.heading1, .heading2, .heading3, .heading4, .heading5
{
    margin: 5px;
}

p
{
    font-size: 16px;
    font-family:'roboto';
    width: 80%;
    line-height: 1.4;
    max-width: 1050px;
    margin: auto;
}

a, .nav-link
{
    color: #ffffff;
    font-family: 'roboto light';
    font-size: 20px;
    text-decoration: none;
}

.paragraph
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer
{
    font-family: 'roboto';
}

#header-title
{
    padding: 20px 20px;
}

#header-subtitle
{
    text-align: right;
    color: black;
    font-family:'roboto light';
}